@model Category

@{
    Layout = "~/Views/Shared/Admin_Layout.cshtml";

}
<h1>Create</h1>
<form method="post" class="row g-3">
    <input type="hidden" asp-for="C_id" />

    <div class="col-md-6">
        <label asp-for="C_name" for="Name" class="form-label">Name</label>
        <input asp-for="C_name" class="form-control" id="Name">
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary" asp-controller="Admin" asp-action="AD_Cat_Edit">Edit</button>
    </div>
</form>
