@model Notification

@{
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h1>Edit Notification</h1>
<form method="post" asp-action="AD_not_Edit">
    <input type="hidden" asp-for="N_id" />

    <div class="col-md-6">
        <label asp-for="N_description" class="form-label">Notification</label>
        <input asp-for="N_description" class="form-control" id="N_description">
    </div>

    <div class="col-12">
        <button type="submit" asp-controller="Admin" asp-action="AD_not_Edit" class="btn btn-primary">Edit</button>
    </div>
</form>

