@model View1

@{
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h1>Create</h1>
<a class="btn btn-info" asp-controller="Admin" asp-action="AD_Pro_det">View</a>
<form method="post" class="row g-3">
    <div class="form-group">
        <label asp-for="C_id" class="control-label">Category</label>
        <select asp-for="C_id" class="form-control" asp-items="@(new SelectList(ViewBag.message, "C_id", "C_name"))"></select>
        <span asp-validation-for="C_id" class="text-danger"></span>
    </div>
    <br />
    <div class="col-md-8">
        <label asp-for="P_name" class="form-label">Name</label>
        <input asp-for="P_name" class="form-control" id="Name" />
        <span asp-validation-for="P_name" class="text-danger"></span>
    </div>
    <div class="col-md-8">
        <label asp-for="P_price" class="form-label">Price</label>
        <input asp-for="P_price" class="form-control" id="Price" />
        <span asp-validation-for="P_price" class="text-danger"></span>
    </div>
    <div class="col-12">
        <button type="submit" asp-controller="Admin" asp-action="AD_pro" class="btn btn-primary">Submit</button>
    </div>
</form>

