@model Login

<header>
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                        <div class="card-body">
                            <form method="post">
                                <div class="form-floating mb-3">
                                    <input asp-for="S_shopcode" class="form-control" id="S_shopcode" />
                                    <label asp-for="S_shopcode" id="S_shopcode">Shopcode</label>
                                    <span asp-validation-for="S_shopcode" class="text-danger"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="S_Password" class="form-control" id="inputPassword" type="password" placeholder="Password" />
                                    <label asp-for="S_Password" for="inputPassword">Password</label>
                                    <span asp-validation-for="S_Password" class="text-danger"></span>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" id="inputRememberPassword" type="checkbox" value="" />
                                    <label class="form-check-label" for="inputRememberPassword">Remember Password</label>
                                </div>
                                <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                    <button type="submit" asp-controller="Login" asp-action="Log" class="btn btn-primary">Login</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</header>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
